<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Good Games Order Tracker</li>
      <li><a href="/orders">Orders</a></li>
      <li>
        <a href="#">Customers</a>
        <ul class="menu vertical">
          <li><a href="/customers">Details</a></li>
          <li><a href="/customer_contacts">Contact History</a></li>
        </ul>
      </li>
      <li><a href="/distributors">Distributors</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>